# 機密ファイル（APIキーや認証情報）
.env
credentials.json
encoded.txt
**google_credentials.json**

# Pythonキャッシュ
__pycache__/
*.pyc

# 仮想環境
venv/
.venv/

# OS固有ファイル
.DS_Store
Thumbs.db

# ログ・一時ファイル
log.txt
pull_log.txt
